/build/

/.gradle/
/.idea/workspace.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
# Because gradle
.idea/**/*.iml

.idea/**/libraries

/out
/.idea/uiDesigner.xml
/docs/html/reference.html
/.idea/jarRepositories.xml
